<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- JDBC 드라이버 정보 및 데이터베이스 연결정보 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- JDBC를 통해 실행할 sql 도메인별로 모음 -->
  <mappers>
    <mapper resource="config/interactionMapper.xml"/>
    <mapper resource="config/userMapper.xml"/>
    <mapper resource="config/writerMapper.xml"/>
    <mapper resource="config/emotionMapper.xml"/>
  </mappers>
  
</configuration>
 
