<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

<select id = "login" resultType = "String" parameterType = "map">

select pen_name as penName from app_user where user_id = #{userId} and user_pw = #{userPw}

</select>

<insert id = "addUser" parameterType = "map">

insert into app_user(user_id, name, pen_name, user_pw, email, tel) values(#{userId},#{name},#{penName},#{userPw},#{email},#{tel})

</insert>

<select id = "findId" parameterType = "map" resultType = "String">
select user_id as userId from app_user where name = #{name} and email = #{email}

</select>

<select id = "findPw" parameterType = "map" resultType = "String">

select user_pw as userPw from app_user where name = #{name} and email = #{email}

</select>

<!-- v2 -->
<select id="selectUserId" resultType="string">
	SELECT user_id 
	FROM app_user 
	WHERE name=#{name, jdbcType=VARCHAR} 
	AND email=#{email, jdbcType=VARCHAR}
</select>

<select id="selectUserPw" resultType="string">
	SELECT user_pw 
	FROM app_user 
	WHERE name=#{name, jdbcType=VARCHAR} 
	AND email=#{email, jdbcType=VARCHAR}
</select>
<!-- v2 -->
	
	

<select id = "checkId" parameterType="String" resultType="String">

select user_id as userId from app_user where user_id = #{userId}

</select>


<select id = "checkPenName" parameterType="String" resultType="String">

select pen_name from app_user where pen_name = #{penName}

</select>
<select id="checkIdEmail" parameterType="map" resultType="String">

select pen_name as penName from app_user where user_id = #{userId} and email = #{email}

</select>

<update id="setTemporaryPw" parameterType="map">

update app_user set user_pw = #{userPw} where user_id = #{userId}

</update>

</mapper>
